<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragmenty</title>
</head>
<body>
<div th:fragment="adOnTop">                                              <!-- reklama u góry -->
    <div id="adOnTop" height="181px">
        <img id="comercial" src="reklama.jpg" width="100%" height="181px">
    </div>
</div>

<div th:fragment="buttonOnTop">                                           <!-- przycisk do góry ***  -->
    <button onclick="topFunction()" id="myBtn"> ↑</button>
</div>

<div th:fragment="panel">
    <div id="maincontainer">
        <div id="leftcolumn"><img src="logo.png" height="51px"></div>
        <div id="contentwrapper">
            <form action="/listing">
                <input placeholder="Czego szukasz?" style="height:46px;width:28%;font-size:15pt;" name="name"
                       id="roll-input">
                <select name="category" id="selectCategory" style="height:52px;width:19%;font-size:14pt;">
                    <option selected disabled hidden>Wybierz kategorię</option>
                    <option value="moda">Moda</option>
                    <option value="dziecko">Dziecko</option>
                    <option value="supermarket">Sumermarket</option>
                    <option value="domiogrod">Dom i ogród</option>
                    <option value="uroda">Uroda</option>
                    <option value="zdrowie">Zdrowie</option>
                    <option value="kulturairozrywka">Kultura i rozrywka</option>
                    <option value="sportiturystyka">Sport i turystyka</option>
                    <option value="motoryzacja">Motoryzacja</option>
                    <option value="nieruchomosci">Nieruchomości</option>
                    <option value="kolekcjeisztuka">Kolekcje i sztuka</option>
                    <option value="firmaiuslugi">Firma i usługi</option>
                </select>
                <input type="submit" id="buttonLookFor" style="height:52px;width:7%;font-size:15pt;" value="Szukaj "
                       onclick="return empty()">
            </form>
        </div>
    </div>
</div>
<div th:fragment="userPanel">
    <div class="dropdown" id="position">
        <button onclick="myFunction()" class="dropbtn">Moje Konto</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#about">Mój koszyk</a>
            <a href="#about">Wystawione przedmioty</a>
            <a href="#about">Moje dane</a>
            <a href="#home">Wyloguj</a>
        </div>
    </div>
</div>


<div th:fragment="leftPanel" class="leftPanel">                                 <!-- lewy panel ***  -->
    <form action="/action_page.php"
          oninput="x.value=parseInt(prize.value)">
        <div  class="featuresAlignCenter"><h2>Przeglądaj Oferty</h2></div>
        <div class="features">
            <h3>Wybierz Kategorię</h3><br>
            <select name="category">
                <option selected disabled hidden>kategorie</option>
                <option value="moda">Moda</option>
                <option value="dziecko">Dziecko</option>
                <option value="supermarket">Sumermarket</option>
                <option value="domiogrod">Dom i ogród</option>
                <option value="uroda">Uroda</option>
                <option value="zdrowie">Zdrowie</option>
                <option value="kulturairozrywka">Kultura i rozrywka</option>
                <option value="sportiturystyka">Sport i turystyka</option>
                <option value="motoryzacja">Motoryzacja</option>
                <option value="nieruchomosci">Nieruchomości</option>
                <option value="kolekcjeisztuka">Kolekcje i sztuka</option>
                <option value="firmaiuslugi">Firma i usługi</option>
            </select>
        </div>
        <div class="features">
            <h3>Sposoby Dostawy</h3>
            <input type="radio" id="inpost" name="delivery" value="inpost">
            <label for="inpost">Paczkomaty Inpost</label><br>
            <input type="radio" id="courier" name="delivery" value="courier">
            <label for="courier">Kurier</label><br>
            <input type="radio" id="selfcollect" name="delivery" value="selfcollect">
            <label for="selfcollect">Odbiór Własny</label><br>
            <input type="radio" id="abroad" name="state" value="abroad">
            <label for="abroad">Dostawa za granicę</label><br>
        </div>
        <div class="features">
            <h3>Stan</h3>
            <input type="radio" id="new" name="state" value="new">
            <label for="new">Nowe</label><br>
            <input type="radio" id="used" name="state" value="used">
            <label for="used">Używane</label><br>
            <input type="radio" id="damaged" name="state" value="damaged">
            <label for="damaged">Uszkodzone</label><br>
        </div>
        <!style="height:46px;width:28%;font-size:15pt;"!>
        <div class="features">
            <h3>Lokalizacja</h3>
            <select name="city">
                <option selected disabled hidden>Wybierz lokalizację</option>
                <option value="warszawa">Warszawa</option>
                <option value="krakow">Kraków</option>
                <option value="lodz">Łódź</option>
                <option value="wroclaw">Wrocław</option>
                <option value="poznan">Poznań</option>
                <option value="gdansk">Gdańsk</option>
                <option value="szczecin">Szczecin</option>
                <option value="bydgoszcz">Bydgoszcz</option>
                <option value="lublin">Lublin</option>
                <option value="bualystok">Białystok</option>
                <option value="katowice">Katowice</option>
                <option value="gdynia">Gdynia</option>
                <option value="czestochowa">Częstochowa</option>
                <option value="radom">Radom</option>
                <option value="rzeszow">Rzeszów</option>
            </select>
        </div>
        <div class="features">
            <h3> Cena</h3>
            0
            <input type="range" id="prize" name="prize" min="0" max="80000" value="80000">
            80000<br><br>wybrana cena :
            <output name="x" for="prize"></output>
            PLN<br>
        </div>
        <div>
            <input type="reset" class="buttonsLeftPanel" value="Resetuj ">
            <input type="submit" class="buttonsLeftPanel" id="rightButtonLeftPanel" placeholder="Szukaj ">
        </div>
    </form>
</div>


</body>
</html>
