<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Fragmenty</title>
</head>
<body>

<div th:fragment="adOnTop">                                                        <!-- reklama u góry -->
    <div id="adOnTop" height="181px">
        <img id="comercial" src="/reklama.jpg" width="100%" height="181px" >
    </div>
</div>

<div th:fragment="buttonOnTop">                                                    <!-- przycisk do góry ***  -->
    <button onclick="topFunction()" id="myBtn"> ↑</button>
</div>

<div th:fragment="panel">                                                <!-- panel ***  -->
    <div id="maincontainer">
        <div id="leftcolumn"><a href="/main" class="boxShadow"> <img src="/logo2.png" height="51px"></a></div>
        <div id="rightcolumn">
            <form action="/listing" method="get">
                <input placeholder="Czego szukasz?" style="height:46px;width:28%;font-size:15pt;" name="name"
                       id="roll-input">
                <select name="category" id="selectCategory" style="height:50px;width:19%;font-size:14pt;">
                    <option selected disabled hidden>Wybierz kategorię</option>
                    <option value="electronics">Elektronika</option>
                    <option value="fashion">Moda</option>
                    <option value="kid">Dziecko</option>
                    <option value="supermarket">Sumermarket</option>
                    <option value="houseAndGarden">Dom i ogród</option>
                    <option value="beauty">Uroda</option>
                    <option value="health">Zdrowie</option>
                    <option value="cultureAndEntertainment">Kultura i rozrywka</option>
                    <option value="sportAndTurism">Sport i turystyka</option>
                    <option value="motorization">Motoryzacja</option>
                    <option value="property">Nieruchomości</option>
                    <option value="collectionsAndArt">Kolekcje i sztuka</option>
                    <option value="companyAndServices">Firma i usługi</option>
                </select>
                <input type="submit" id="buttonLookFor" style="height:52px;width:7%;font-size:15pt;" value="Szukaj "
                       onclick="return empty()">
            </form>
        </div>
    </div>
</div>
<div th:fragment="userPanel">                                             <!--  przycisk moje konto   -->
    <div id="position">
        <a onclick="myFunction()"><img src="/account.png" height="21px" class="dropbtn"></a>
        <div id="myDropdown" class="dropdown-content">
            <a th:if="${!sessionObject.isLogged()}" href="/register">Zarejestruj</a>
            <a th:if="${!sessionObject.isLogged()}" href="/login">Zaloguj</a>
            <a th:if="${sessionObject.isLogged()}" href="/my/items">Wystawione przedmioty</a>
            <a th:if="${sessionObject.isLogged()}" href="/me">Moje dane</a>
            <a th:if="${sessionObject.isLogged()}" href="/logout">Wyloguj</a>
        </div>
    </div>
</div>
<div  th:if="${sessionObject.isLogged()}" th:fragment="cartBtn"><!-- przycisk koszyk ***  -->
    <a href="/cart" class="cartSign"><img src="/cart.png"></a></div>
<div th:if="${sessionObject.isLogged()}" th:fragment="addOfferBtn">  <!-- przycisk dodaj ofertę ***  -->
    <a href="/add" class="addSign"><img src="/add.png"></a></div>

<div th:fragment="leftPanel" class="leftPanel">                                          <!-- lewy panel ***  -->
    <form action="/listing" method="get" oninput="x.value=parseInt(prize.value)">
        <div class="featuresAlignCenter">
            <h2>&nbsp;Przeglądaj Oferty&nbsp;</h2>
        </div>
        <div class="features">
            <h3>Wybierz Kategorię</h3>
            <select name="category">
                <option selected disabled hidden>kategorie</option>
                <option value="fashion">Moda</option>
                <option value="kid">Dziecko</option>
                <option value="supermarket">Sumermarket</option>
                <option value="houseAndGarden">Dom i ogród</option>
                <option value="beauty">Uroda</option>
                <option value="health">Zdrowie</option>
                <option value="cultureAndEntertainment">Kultura i rozrywka</option>
                <option value="sportAndTurism">Sport i turystyka</option>
                <option value="motorization">Motoryzacja</option>
                <option value="property">Nieruchomości</option>
                <option value="collectionsAndArt">Kolekcje i sztuka</option>
                <option value="companyAndServices">Firma i usługi</option>
            </select>
        </div>
        <div class="features">
            <h3>Sposoby Dostawy</h3>
            <input type="radio" id="inpost" name="delivery" value="inpost">
            <label for="inpost">Paczkomaty Inpost</label><br>
            <input type="radio" id="courier" name="delivery" value="courier">
            <label for="courier">Kurier</label><br>
            <input type="radio" id="selfcollect" name="delivery" value="selfcollect">
            <label for="selfcollect">Odbiór Własny</label><br>
            <input type="radio" id="abroad" name="delivery" value="abroad">
            <label for="abroad">Dostawa za granicę</label><br>
        </div>
        <div class="features">
            <h3>Stan</h3>
            <input type="radio" id="new" name="state" value="new">
            <label for="new">Nowe</label><br>
            <input type="radio" id="used" name="state" value="used">
            <label for="used">Używane</label><br>
            <input type="radio" id="damaged" name="state" value="damaged">
            <label for="damaged">Uszkodzone</label><br>
        </div>
        <div class="features">
            <h3>Lokalizacja</h3>
            <select name="city">
                <option selected disabled hidden>Wybierz lokalizację</option>
                <option value="warszawa">Warszawa</option>
                <option value="krakow">Kraków</option>
                <option value="lodz">Łódź</option>
                <option value="wroclaw">Wrocław</option>
                <option value="poznan">Poznań</option>
                <option value="gdansk">Gdańsk</option>
                <option value="szczecin">Szczecin</option>
                <option value="bydgoszcz">Bydgoszcz</option>
                <option value="lublin">Lublin</option>
                <option value="bialystok">Białystok</option>
                <option value="katowice">Katowice</option>
                <option value="gdynia">Gdynia</option>
                <option value="czestochowa">Częstochowa</option>
                <option value="radom">Radom</option>
                <option value="rzeszow">Rzeszów</option>
            </select>
        </div>
        <div class="features">
            <h3> Cena</h3>
            0
            <input type="range" id="prize" name="prize" min="0" max="80000" value="80000">
            80000<br><br> Cena do:
            <output name="x" for="prize"></output>
            PLN<br>
        </div>
        <div>
            <input type="reset" class="niceBtn" value="Czyść Filtry">
            <input type="submit" class="niceBtn" id="rightButtonLeftPanel" placeholder="Szukaj ">
        </div>
    </form>
</div>
<div th:fragment="rightPanelComercial" id="rightSubContainer"><img id="fillDiv" src="/reklama2.jpg" width="270px">  <!-- right panel(comercial) -->
</div>


</body>

</html>