<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wystaw.pl</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="userMenu.css">
    <script src="/userMenu.js"></script>
    <style>
        body{
background-repeat: no-repeat;
background-image: url("tlo.jpg");
background-size: cover;
}
    </style>
</head>
<body>
<div class="dropdown" id="position">
    <button onclick="myFunction()" class="dropbtn">Moje Konto</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="#about">Mój koszyk</a>
        <a href="#about">Wystawione przedmioty</a>
        <a href="#about">Moje dane</a>
        <a href="#home">Wyloguj</a>
    </div>
</div>

</body>
</html>